* {
  box-sizing: border-box;
  background: whitesmoke;
}
:root {
  --bkgrnd:rgb(49, 52, 61);
  --boarder:rgb(69, 89, 118);
  --headerfontcolor:rgb(49, 51, 61);
  --headerback: rgb(146, 203, 205);
}
/* body */
body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}
/* header */
header {
  padding: 40px;
  text-align: Left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  background: var(--bkgrnd); 
}
/* Main Page header */
h1{
  font-size: 50px;
  font-weight: 600;
  background: var(--headerback);
  padding: 15px;
  color: var(--headerfontcolor);
}
/* Navigation */
nav {
  display: flex;
  background-color: var(--headerback);
}
nav a {
  font-size: 25px;
  color:var(--headerback);
  font-weight: 600;
  padding: 14px 20px;
  text-align: center;    
  background-color: var(--bkgrnd);
  text-decoration: underline;
  flex: 1 0 auto;
}
/* main */
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* Header image and subheading */
.head-img {
  height: 200px;
  width: 100%;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.head-img h3 {
  position: absolute;
  padding: 15px;
  background: var(--headerback);
  color: var(--headerfontcolor);
  bottom: 8px;
  right: 8px;
  font-size: 45px;
}

/* section main container */
.about,
.work,
.contact {
  margin-bottom: 20px;
  padding: 50px 0px;
  width: 100%;
 /* min-height: 300px;*/
  flex: 0 0 auto;
  display: flex;
}
  
/* section main header */
h2{
  font-size: 48px;
  font-weight: 600;
  min-inline-size: 300px;
  max-inline-size: 300px;
  word-wrap: normal;
  float: left;
  margin-right: 25px;
  text-align: right;
  color: var(--headerfontcolor);
}

/* Verticle Line */
.vl {
  border-left: 6px solid var(--boarder);
  border-left-style: solid;
  position: relative;
  margin-left: -15px;
  top: 0;
  padding-left: 25px;
}

/* Section Specific Styles */
/*---------------------------------------------*/

/* Image style in about me section */
.about img{
  float: left;
  padding: 0 10px;
}
/* paragraph style in about me section */
.about p {
  font-size: 20px;
}

/* Container for the work section of the page */
.work div{
  display: flex;
  flex-wrap: wrap;
}

/* Work Links section style*/
#spotlight {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align:  center;
  border-style: solid;
  border-width: 5px;
  border-color: var(--headerback);
  margin: 2px;
  position: relative;
}
#spotlight a{
  flex: 1 0 0;
}
#spotlight img {
  width: 100%;
  min-width: 200px;
  max-height: 300px;
  opacity: .5;
}
/* Image text for work images */
#spotlight .img-head{
  position: absolute;
  bottom: 40px;
  left: 0px;
  text-align: left;
  display: block;
  background: var(--headerback);
  color: var(--headerfontcolor);
}
#spotlight:hover img {
  opacity:1;
}

.work-links{
  flex: 1 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align:  center;
  border-style: solid;
  border-width: 5px;
  border-color: var(--headerback);
  margin: 2px;
  position: relative;
}
/* Work Image style*/
.work-links a{
  flex: 1 0 0;
}
.work-links img {
  width: 100%;
  min-width: 200px;
  max-height: 300px;
  opacity: .5;
}
/* Image text for work images */
.work-links .img-head{
  position: absolute;
  bottom: 40px;
  left: 0px;
  text-align: left;
  display: block;
  background: var(--headerback);
  color: var(--headerfontcolor);
}
.work-links:hover img {
  opacity:1;
}
h4 {
  font-size: 25px;
  font-weight: bold; 
  background: var(--headerback);
  color: var(--headerfontcolor);
  margin: 10px 0px;
}
h5 {
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
  background: var(--headerback);
  color: var(--headerfontcolor);
  margin: 10px 0px;
}

/* Contact */
/*.contact div nav {
  display: flex;
}*/
.contact div {
  font-size: 25px;
  font-weight: 600;
  padding: 14px 20px;
  text-align: center;    
  text-decoration: underline;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-evenly;
}

footer {
  font-size: 25px;
  min-height: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: Column;
  }
  header {
    width: 100%;
  }
  .about,
  .work,
  .contact,
  .contact div {
    width: 100%;
    flex-direction: column; 
  }
  }
