* {
    box-sizing: border-box;
    background: whitesmoke;
  }
  :root {
    --bkgrnd:rgb(70, 70, 70);
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    text-align: Left;
  }

 .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: var(--bkgrnd);
    
  }

  h1{
    font-size: 48px;
    font-weight: 600;
    background: var(--bkgrnd);
  }

  h2{
    font-size: 30px;
    font-weight: 600;
  }
  
  nav {
    display: flex;
    background-color: var(--bkgrnd);
  }
  
  nav a {
    font-size: 25px;
    color: #0070d8;
    font-weight: 600;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;    
    background-color: var(--bkgrnd);
  }
  
  .head-img {
    height: 200px;
    width: 100%;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
}


  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .float-left {
    float: left;
    margin-right: 25px;
}

  .card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: row;
    }
  }
